@import '../../../utils/mixins.scss';

.Form {
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);

  @media screen and (min-width: 992px) {
    width: 585px;
    height: 700px;
    overflow: hidden;
    flex-direction: row;
  }

  &-thanks {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;

    /* @media screen and (min-width: 768px) {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    } */

    .title {
      position: absolute;
      bottom: 30px;
      right: -200px;
      color: #000;
      opacity: 0.03;
      font-size: 190px;
      opacity: 0.07;
      font-family: Audiowide, Helvetica, Arial, sans-serif;
      z-index: 0;
    }

    .description {
      z-index: 1;
      text-align: left;
      padding: 40px;
      margin-top: 40px;
      font-family: Goldman, Helvetica, Arial, sans-serif;
    }
  }

  &-contact {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    /*  @media screen and (min-width: 768px) {
      width: 50%;
      height: 100%;
      overflow-x: hidden;
    } */

    .title {
      position: absolute;
      bottom: 30px;
      right: -300px;
      color: #fff;
      font-size: 190px;
      position: absolute;
      opacity: 0.07;
      font-family: Audiowide, Helvetica, Arial, sans-serif;
      z-index: 0;
    }

    .content {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      color: #fff;
      padding: 40px;
      margin-top: 40px;
      font-family: Goldman, Helvetica, Arial, sans-serif;

      .form-label {
        margin-bottom: 5px;
        font-size: 14px;
        position: relative;
      }

      .error-label {
        color: red;
        font-size: 12px;
        margin-left: 10px;
      }

      .fields {
        margin-bottom: 30px;
        background: transparent;
        border: none;
        border-bottom: 2px solid silver;
        padding: 8px 5px;
        z-index: 1;
        caret-color: silver;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: silver;

        &:focus {
          border: none;
          border-bottom: 2px solid silver;
          outline: none;
        }
      }
      .btn {
        padding: 12px 20px;
        background: #ff4b3e;
        border: none;
        color: silver;
        cursor: pointer;
        z-index: 2;
        font-size: 0.875em;
        letter-spacing: 2px;

        &.btn-disabled {
          opacity: 0.9;
          background: grey;
          cursor: not-allowed;
        }
      }
    }

    @include ContactX;
  }
}
