.QuoteContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;

  span {
    font-size: 25px;
  }
}

.animation {
  -webkit-animation: fadeinout 10s infinite;
  animation: fadeinout 10s infinite;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* @-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
} */

/* .animation {
  -webkit-animation: flickerAnimation 5s infinite;

  -moz-animation: flickerAnimation 5s infinite;

  -o-animation: flickerAnimation 5s infinite;

  animation: flickerAnimation 5s infinite;
}
 */
