.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  font-family: Goldman;

  .skill-title {
    font-size: 16px;
    color: #d90429;
    font-family: Goldman;
  }

  .SkillCard {
    width: 350px;
    padding: 10px;
    background-color: #000;
    opacity: 0.7;
    border-radius: 10px;

    .skill-text {
      font-size: 16px;
      color: #fff;
    }
  }
}
