.TopMenu {
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: #b0b2c3;

  .TopMenu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .Links {
      z-index: 20;
      display: flex;
      justify-content: flex-end;
    }
  }

  &-name {
    z-index: 2;
    font-size: 16px;

    @media (min-width: 480px) {
      font-size: 20px;
    }

    @media (min-width: 600px) {
      font-size: 25px;
    }
  }
  &-menu {
    z-index: 2;
    display: flex;
    justify-content: flex-end;

    .menu,
    .cross {
      width: 25px;
      height: 25px;
      cursor: pointer;

      @media (min-width: 600px) {
        width: 35px;
        height: 35px;
      }
    }
  }

  &-subnav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
    z-index: 1;

    // @media (min-width: 600px) {
    //   top: 77px;
    // }

    &Items {
      margin-top: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        margin-top: 300px;
      }

      @media (min-width: 1024px) {
        margin-top: 350px;
      }

      li,
      a {
        //margin-bottom: 50px;
        color: #fff;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        list-style-type: none;
        cursor: pointer;
        text-shadow: 0 0 10px #000;

        a:visited,
        :active,
        :link {
          color: white;
          text-decoration: none;
        }

        a:hover {
          color: #dd734f;
          font-size: 65px;
        }

        @media (min-width: 480px) {
          font-size: 40px;
        }

        @media (min-width: 600px) {
          font-size: 60px;
        }
      }
    }
  }
}
