.Home {
  position: relative;
  height: calc(100vh - 3.5rem);

  &-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 9.375rem;
    color: #d90429;
    font-family: Goldman, sans-serif;

    @media (min-width: 768px) {
      padding-left: 6rem;
      padding-top: 18.75rem;
      align-items: flex-start;
    }

    & .name {
      font-size: 2rem;
      width: 100%;

      @media (min-width: 768px) {
        font-size: 3rem;
        width: auto;
      }
    }
    & .work {
      font-size: 1.5rem;
      width: 100%;
      color: #edf2f4;

      @media (min-width: 768px) {
        font-size: 2rem;
        width: auto;
      }
    }
  }
}

/* @keyframes rollout {
  0% {
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.name,
.work {
  animation: 0.8s rollout;
  -webkit-animation: 0.8s rollout;
} */
