.ContactSlim {
  position: relative;

  &.ContactSlim-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: auto;
    right: auto;
    bottom: 20px;

    div {
      svg {
        height: 1.875rem;
        width: 1.875rem;
        > path,
        rect,
        circle,
        line {
          stroke: #edf2f4;
        }
      }

      &:hover {
        svg > path,
        rect,
        circle,
        line {
          stroke: #d90429;
        }
      }
    }

    .icons {
      margin: 5px;
      height: 1.5rem;

      @media (min-width: 769px) {
        height: 1.875rem;
      }
    }
    @media (min-width: 1025px) {
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 100px;
        margin: 0px auto;
        margin-top: 10px;
        background-color: #fff;
      }
    }
  }

  &.desktop {
    position: fixed;
    bottom: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;
  }

  &.fullWidth {
    width: 100%;
  }
  .ContactSlim-links {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      color: #edf2f4;
      font-size: 20px;
      position: relative;
      text-decoration: none;
      font-family: Goldman, sans-serif, Arial, Helvetica;
      margin: 20px;

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -4px;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #d90429;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
