.Footer {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  border: 1px solid cyan;

  &-name {
    font-size: 64px;
    font-family: 'Diplomata', cursive;
    color: #fff;
    transition: opacity 0.35s ease 0.65s;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
