.Footer {
  position: relative;
  padding: 30px;

  @media (min-width: 768px) {
    padding: 20px;
  }

  .Footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-name {
      position: relative;
      font-size: 64px;
      font-family: 'Diplomata', cursive;
      color: #fff;
      transition: opacity 0.35s ease 0.65s;
      text-decoration: none;
      /* margin-bottom: 20px; */
      cursor: pointer;
      width: 200px;

      .scroll-to-top {
        position: absolute;
        top: 31px;
        right: 8px;
        font-size: 12px;
      }
    }

    .creator {
      color: #fff;
    }
  }
}
