html,
body {
  /* height: 100%;
  width: 100%; */
  background: hsla(280, 84%, 41%, 1);

  background: linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711C1", endColorstr="#2472FC", GradientType=1 );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* .App {
  text-align: center;
  background-color: #1c1d24;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* font-family: 'Audiowide', cursive;

font-family: 'Diplomata', cursive;

font-family: 'Fontdiner Swanky', cursive;

font-family: 'Goldman', cursive;

font-family: 'Nosifer', cursive;

font-family: 'Permanent Marker', cursive;

font-family: 'Ultra', serif;

font-family: 'Zilla Slab Highlight', cursive; */
